<div class="row mt-2" style="margin-left:5px ;">
<h2>My courses</h2>
  <!-- Start of the container -->
  <ng-container *ngFor="let cs of this.enrolledCourses let i = index">

  <!-- The first card  -->
  <div class="col-sm-6">

    <div class="card">
      <div class="card-header">
        {{cs.courseName}} and ID: {{cs.courseId}}
      </div>
      <div class="card-body">
        <h3 class="card-title">{{ "Creator of the course is: " + cs.creator.firstName +  " " + cs.creator.lastName}}</h3>
        <p class="card-text">Number of Free Places: {{cs.freeSeets}}</p>
        <a (click)="openCourse(cs.courseId)" class="btn btn-primary" >Open</a>
      </div>

    </div>
    <br>

  </div>

  <!-- End of the container -->
</ng-container>

<hr>

<h2> Free courses </h2>

<ng-container *ngFor="let cs of this.freeCourses let i = index">

  <!-- The free courses card  -->
  <div class="col-sm-6">

    <div class="card">
      <div class="card-header">
        {{cs.courseName}}
      </div>
      <div class="card-body">
        <h3 class="card-title">{{ "Creator of the course is: " + cs.creator.firstName +  " " + cs.creator.lastName}}</h3>
        <p class="card-text">Number of Free Places: {{cs.freeSeets}}</p>
        <a (click)="openCourse(cs.courseId)" class="btn btn-primary">Open</a>
      </div>

    </div>
    <br>
  </div>

  <!-- End of the container -->
</ng-container>


</div>
