<!-- for the current logged-in User -->
<ng-container
  *ngIf="this.userloaded && this.currentUserRegistered && this.dataLoaded">
  <div class="row mt-2" style="margin-left: 5px">
    <h1>{{ this.currentCourse.courseName }}</h1>
    <hr />
    <br />
    <h3>Open tasks</h3>
    <hr />
    <div class="row">
      <div class="col-9"></div>
      <div class="col-3" style="float: right">
        <button class="btn btn-danger">Logout from the course</button>
      </div>
    </div>
  </div>

  <br />
</ng-container>


  <ng-container
    *ngIf="this.userloaded && !this.currentUserRegistered && this.dataLoaded">
    <div class="row mt-2" style="margin-left: 5px">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            {{ this.currentCourse.courseName }}
          </div>

          <div class="card-body">
            <h3 class="card-title">
              {{
                "Creator of the course is: " +
                  this.currentCourse.creator.firstName +
                  " " +
                  this.currentCourse.creator.lastName
              }}
            </h3>

            <p class="card-text">
              Number of Free Places: {{ this.currentCourse.freeSeets }}
            </p>

            <div
              class="form-outline mb-4"
              *ngIf="this.currentCourse.hasPassword"
            >
              Password:
              <br>
              <label id="lblErrorMessage" *ngIf="this.error" style="color:red ;">{{this.error}}</label>
              <input type="password" class="form-control form-control-lg" [(ngModel)]="password" />
            </div>
          </div>
          <button class="btn btn-primary mb-3" (click)="registerCourse()">
            Register
          </button>
        </div>
      </div>
    </div>
  </ng-container>


